<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          
          <!-- form start -->
          <%= form_with(model: invoice, local: true, html: { autocomplete: "off" }) do |f| %> 
            <div class="card-body">
              <% if invoice.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

                  <ul>
                    <% invoice.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="row col-12">
                <div class="form-group col-6">
                  <%= f.label :invoice_number %>
                  <%= f.text_field :invoice_number, :class => 'form-control' %>
                </div>

                <div class="form-group col-6">
                  <%= f.label :vendor_id, "Vendor" %>
                  <span class="required">*</span>
                  <%= f.collection_select :vendor_id,
                          Vendor.all, :id, :name, {include_blank: '-- Choose --'}, {:class => 'form-control', :required => true }%>
                </div>
              </div>

              <div class="row col-12">
                <div class="form-group col-6">
                  <%= f.label :date_received %>
                  <%= f.text_field :date_received, :class => 'form-control gregorian_datepicker', :required => true %>
                </div>

                <div class="form-group col-6">
                  <%= f.label :invoice_date %>
                  <%= f.text_field :invoice_date, :class => 'form-control gregorian_datepicker', :required => true %>
                </div>
              </div>

              <div class="row col-12">
                <div class="form-group col-6">
                  <%= f.label :currency_type %>
                  <%= f.collection_select :currency_type, Invoice.currency_types, :first, :first, {:include_blank => '-- Select --'},{:class => 'form-control'} %>
                </div>

                <div class="form-group col-6">
                  <%= f.label :number_of_waybill %>
                  <%= f.text_field :number_of_waybill, :class => 'form-control' %>
                </div>
              </div>

              <div class="row col-12">
                <div class="form-group col-6">
                  <%= f.label :invoice_amount %>
                  <%= f.text_field :invoice_amount, :class => 'form-control' %>
                </div>
                
                <div class="form-group col-6">
                  <%= f.label :lti_number %>
                  <%= f.text_field :lti_number, :class => 'form-control' %>
                </div>
              </div>

              <div class="row col-12">
                <div class="form-group col-6">
                  <%= f.label :received_from %>
                  <%= f.collection_select :received_from, Invoice.received_froms, :first, :first, {:include_blank => '-- Select --'},{:class => 'form-control'} %>
                </div>

                <div class="form-group col-6">
                  <%= f.label :submitted_by %>
                  <%= f.text_field :submitted_by, :class => 'form-control' %>
                </div>
              </div>
              <div class="row col-12">
                <!--
                <% unless @invoice.status.nil? %>
                  <div class="form-group col-6">
                    <%= f.label :status %>
                    <%= f.collection_select :status, Invoice.statuses, :first, :first, {:include_blank => '-- Select --'},{:class => 'form-control'} %>
                  </div>
                <% end %>
                -->

                <div class="form-group col-6">
                  <%= f.label :remark %>
                  <%= f.text_area :remark, :class => 'form-control' %>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
            
            <div class="card-footer">
              <%= f.submit :class => 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {
    $('.gregorian_datepicker').calendarsPicker({
        format: 'DD, MM d, yyyy',
        onSelect: function(dateText, inst) {
            var dateAsObject = $(this).calendarsPicker('getDate');
            // var jd = dateAsObject[0].toJD();
            // var date_gc = $.calendars.fromJD(jd);
            $(this).val(dateAsObject[0].formatDate('DD, MM d, yyyy'));
        }
    });

    $('.ethiopian_datepicker').calendarsPicker({
        calendar: $.calendars.instance('ethiopian', 'am'),
        format: 'DD, MM d, yyyy',
        onSelect: function(dateText, inst) {
            var dateAsObject = $(this).calendarsPicker('getDate');
            var jd = dateAsObject[0].toJD();
            var date_gc = $.calendars.instance('ethiopian').fromJD(jd);
            $(this).val(date_gc.formatDate('DD, MM d, yyyy'));
        }
    });    
  });
</script>