<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Users</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Users</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <table class="table table-bordered table-striped iraps_datatable">
              <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>                   
                    <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                <tr>
                    <td><%= link_to user.first_name, "/users/#{user.id} "%></td>
                    <td><%= user.last_name  %></td>
                    <td><%= user.email %></td>             
                    <td>
                      <%= link_to 'Edit', edit_user_path(user) %> &middot;
                      <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>                        
                    </td>
                </tr>
                <% end %>
              </tbody>
              <tfoot>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>                  
                    <th>Actions</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      <!-- /.card -->
    </div>
  </div>
</section>
<!-- /.content -->

<script>
  $(document).ready(function() {
    if ( ! $.fn.DataTable.isDataTable( '.iraps_datatable' ) ) {
      $('.iraps_datatable').DataTable({
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true,
        "responsive": true,
        "dom": 'lBfrtip',
        "buttons": [
            'copy', 'csv', 'pdf', 'print'
        ]
      });
    }
    
  });
</script>