<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @permission.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @permission.description %>
</p>

<p>
  <strong>User type:</strong>
  <%= @permission.user_type %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @permission.created_by %>
</p>

<p>
  <strong>Modified by:</strong>
  <%= @permission.modified_by %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @permission.deleted_at %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
