<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <div class="nav-header">
    <div class="profile-element">
      <%=link_to "/" do %>
      <span>
        <img alt="SabbathSchool" class="side-logo" style="width:auto;" src="<%= image_url('sabbath.png') %>">
      </span>
      <% end %>
    </div>
  </div>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="<%= image_url('avatar.png') %>" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block"><%= current_user.first_name + " " + current_user.last_name %></a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-truck"></i>
            <p>
              Members Module
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">            
            <%if policy(Member).index? %>
              <li class="nav-item">
                <%= link_to members_url, :class => "nav-link" do %>
                  <i class="nav-icon fas fa-building"></i>
                  <p>Members</p>
                <% end %>
              </li>
            <%end%>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-hand-holding-usd"></i>
            <p>
              Department Module
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">  
            <%if policy(Department).index? %>
              <li class="nav-item">
                <%= link_to departments_url, :class => "nav-link" do %>
                  <i class="nav-icon fas fa-building"></i>
                  <p>Departments</p>
                <% end %>
              </li>
            <%end%>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tools"></i>
            <p>
              Administrator
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">     
            <li class="nav-item">
              <%= link_to users_url, :class => "nav-link" do %>
                <i class="fas fa-user nav-icon"></i>
                <p>Users</p>
              <% end %>
            </li>       
            <li class="nav-item">
              <%= link_to permissions_url, :class => "nav-link" do %>
                <i class="fas fa-user-tag nav-icon"></i>
                <p>Permissions</p>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
