<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          
          <!-- form start -->
          <%= form_with(model: member, local: true) do |f| %>
            <div class="card-body">
              <% if member.errors.any? %>
                <div class="panel panel-danger">
                  <div class="panel-heading">
                    <%= pluralize(member.errors.count, "error") %> prohibited this member from being saved.
                  </div>

                  <div class="panel-body">
                    <ul>
                      <% member.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% end %>

              <div class="row">
                <div class="form-group col-4">
                  <%= f.label :profile_picture %>                  
                  <img alt="Profile picture" id="your_preview_id" class="profile-picture" src="<%= @member.profile_picture_url ? '../../uploads/' + @member.profile_picture_url : image_url('defualt-profile.png') %>">
                  <%= f.file_field :profile_picture, :class => 'form-control', id: "image_upload_id" %>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-4">
                  <%= f.label :name %>
                  <%= f.text_field :name, :class => 'form-control' %>
                </div>  
                <div class="form-group col-4">
                  <%= f.label :father_name %>
                  <%= f.text_field :father_name, :class => 'form-control' %>
                </div>    
                <div class="form-group col-4">
                  <%= f.label :grand_father_name %>
                  <%= f.text_field :grand_father_name, :class => 'form-control' %>
                </div>   
              </div>

              <div class="row">
                <div class="form-group col-4">
                  <%= f.label 'Name (am)' %>
                  <%= f.text_field :name_am, :class => 'form-control amharic_input' %>
                </div>
                <div class="form-group col-4">
                  <%= f.label 'Father Name (am)' %>
                  <%= f.text_field :father_name_am, :class => 'form-control amharic_input' %>
                </div>
                <div class="form-group col-4">
                  <%= f.label 'Grand Father Name (am)' %>
                  <%= f.text_field :grand_father_name_am, :class => 'form-control amharic_input' %>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-4">
                  <%= f.label :gender %>
                  <%= select_tag "member[gender]", options_for_select([ "Female", "Male" ], @member.gender), class: 'form-control' %>
                </div>
                <div class="form-group col-4">
                  <%= f.label :dob, 'Date of birth' %>
                  <%= f.text_field :dob, :class => 'form-control gregorian_datepicker', :required => true %>
                </div>
                <div class="form-group col-4">
                  <%= f.label :educational_level %>
                  <%= f.text_field :educational_level, :class => 'form-control' %>
                </div>
              </div>

              <div class="row">                
                <div class="form-group col-4">
                  <%= f.label :work %>
                  <%= f.text_field :work, :class => 'form-control' %>
                </div>
                <div class="form-group col-4">
                  <%= f.label :christian_name %>
                  <%= f.text_field :christian_name, :class => 'form-control' %>
                </div>
                <div class="form-group col-4">
                  <%= f.label 'Christian Name (am)' %>
                  <%= f.text_field :christian_name_am, :class => 'form-control amharic_input' %>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-4">
                  <%= f.label :membership_date %>
                  <%= f.text_field :membership_date, :class => 'form-control gregorian_datepicker', :required => true %>
                </div>
                <div class="form-group col-4">
                  <label>Departments</label>
                  <%= f.select :depart, options_for_select(Department.all.collect { |x| [x.name, x.id]}, @departments), {:include_blank => false}, :multiple => true, size: '10%', class: 'form-control multiple_select' %>
                </div>
                <div class="form-group col-4">
                  <%= f.label :talent %>
                  <%= f.text_area :talent, :class => 'form-control' %>
                </div>
              </div>
              
              <div class="col-12">
                <div class="form-group col-3" style="font-size:20px;">
                  <%= f.label :home_address %>
                </div>
                <div class="ibox float-e-margins">
                  <div class="ibox-content">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Sub-city</th>
                          <th>Woreda</th>
                          <th>House No.</th>
                          <th>Home Phone</th>
                          <th>Mobile Phone</th>
                          <th>Email</th>
                          <th>Postal Code</th>              
                          <th></th>
                        </tr>
                      </thead>
                      <tbody id="dispatchItemsTableBody">                      
                        <tr>
                          <td>
                            <%= select_tag "member[home_addr[sub_city]]", options_for_select([ "Addis Ketema", "Akaki Kality", "Arada", "Bole", "Gulele", "Kirkos", "Kolfe-Keraniyo", "Lideta", "Nifas Selk", "Yeka" ], @home_address.sub_city), class: 'form-control' %>
                          </td>
                          <td>
                            <input id="woreda" name="member[home_addr[woreda]]" type="text" class="form-control" value="<%= @home_address.woreda %>" />
                          </td>  
                          <td>
                            <input id="house_no" name="member[home_addr[house_no]]" type="text" class="form-control" value="<%= @home_address.house_no %>" />
                          </td>  
                          <td>
                            <input id="home_phone" name="member[home_addr[home_phone]]" type="text" class="form-control" value="<%= @home_address.home_phone %>" />
                          </td>  
                          <td>
                            <input id="mobile_phone" name="member[home_addr[mobile_phone]]" type="text" class="form-control"value="<%= @home_address.mobile_phone %>" />
                          </td>  
                          <td>
                            <input id="email" name="member[home_addr[email]]" type="text" class="form-control" value="<%= @home_address.email %>" />
                          </td>  
                          <td>
                            <input id="postal_code" name="member[home_addr[postal_code]]" type="text" class="form-control" value="<%=  @home_address.postal_code %>" />
                          </td>                    
                        </tr>
                      </tbody>                  
                    </table>
                  </div>
                </div>
              </div>              
              <div class="col-12">
                <div class="form-group col-3" style="font-size:20px;">
                  <%= f.label :work_address %>
                </div>
                <div class="ibox float-e-margins">
                  <div class="ibox-content">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Sub-city</th>
                          <th>Woreda</th>
                          <th>House No.</th>
                          <th>Home Phone</th>
                          <th>Mobile Phone</th>
                          <th>Email</th>
                          <th>Postal Code</th>              
                          <th></th>
                        </tr>
                      </thead>
                      <tbody id="dispatchItemsTableBody">                      
                        <tr>
                          <td>
                            <%= select_tag "member[work_addr[sub_city]]", options_for_select([ "Addis Ketema", "Akaki Kality", "Arada", "Bole", "Gulele", "Kirkos", "Kolfe-Keraniyo", "Lideta", "Nifas Selk", "Yeka" ], @work_address.sub_city), class: 'form-control' %>
                          </td>
                          <td>
                            <input id="woreda" name="member[work_addr[woreda]]" type="text" class="form-control" value="<%= @work_address.woreda %>" />
                          </td>  
                          <td>
                            <input id="house_no" name="member[work_addr[house_no]]" type="text" class="form-control" value="<%= @work_address.house_no %>" />
                          </td>  
                          <td>
                            <input id="home_phone" name="member[work_addr[home_phone]]" type="text" class="form-control" value="<%= @work_address.home_phone %>" />
                          </td>  
                          <td>
                            <input id="mobile_phone" name="member[work_addr[mobile_phone]]" type="text" class="form-control"value="<%= @work_address.mobile_phone %>" />
                          </td>  
                          <td>
                            <input id="email" name="member[work_addr[email]]" type="text" class="form-control" value="<%= @work_address.email %>" />
                          </td>  
                          <td>
                            <input id="postal_code" name="member[work_addr[postal_code]]" type="text" class="form-control" value="<%=  @work_address.postal_code %>" />
                          </td>                  
                        </tr>
                      </tbody>                  
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group col-3" style="font-size:20px;">
                  <%= f.label :emergency_contact %>
                </div>
                <div class="ibox float-e-margins">
                  <div class="ibox-content">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Full name</th>
                          <th>Relation</th>
                          <th>Sub-city</th>
                          <th>Woreda</th>
                          <th>House No.</th>
                          <th>Home Phone</th>
                          <th>Mobile Phone</th>
                          <th>Email</th>
                          <th>Postal Code</th>              
                          <th></th>
                        </tr>
                      </thead>
                      <tbody id="dispatchItemsTableBody">                      
                        <tr>
                          <td>
                            <input id="full_name" name="member[emergency_cont[full_name]]" type="text" class="form-control" value="<%=  @emergency_contact.full_name %>" />
                          </td> 
                          <td>
                            <input id="relation" name="member[emergency_cont[relation]]" type="text" class="form-control" value="<%=  @emergency_contact.relation %>" />
                          </td> 
                          <td>
                            <%= select_tag "member[emergency_cont[addr[sub_city]]]", options_for_select([ "Addis Ketema", "Akaki Kality", "Arada", "Bole", "Gulele", "Kirkos", "Kolfe-Keraniyo", "Lideta", "Nifas Selk", "Yeka" ], @emergency_contact_address.sub_city), class: 'form-control' %>
                          </td>  
                          <td>
                            <input id="woreda" name="member[emergency_cont[addr[woreda]]]" type="text" class="form-control" value="<%=  @emergency_contact_address.woreda %>" />
                          </td>  
                          <td>
                            <input id="house_no" name="member[emergency_cont[addr[house_no]]]" type="text" class="form-control" value="<%=  @emergency_contact_address.house_no %>" />
                          </td> 
                          <td>
                            <input id="home_phone" name="member[emergency_cont[addr[home_phone]]]" type="text" class="form-control" value="<%=  @emergency_contact_address.home_phone %>" />
                          </td>                          
                          <td>
                            <input id="mobile_phone" name="member[emergency_cont[addr[mobile_phone]]]" type="text" class="form-control" value="<%=  @emergency_contact_address.mobile_phone %>" />
                          </td>  
                          <td>
                            <input id="email" name="member[emergency_cont[addr[email]]]" type="text" class="form-control" value="<%=  @emergency_contact_address.email %>" />
                          </td>  
                          <td>
                            <input id="postal_code" name="member[emergency_cont[addr[postal_code]]]" type="text" class="form-control" value="<%=  @emergency_contact_address.postal_code %>" />
                          </td>                    
                        </tr>
                      </tbody>                  
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
            
            <div class="card-footer">
              <%= f.submit :class => 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>


<script>
  $(document).ready(function() {
      
      var activeLi = $('li.active');
      activeLi.parentsUntil('nav', 'li').addClass('active');
      activeLi.parentsUntil('nav', 'ul').removeClass('collapse');

      $('.gregorian_datepicker').calendarsPicker({
          format: 'DD, MM d, yyyy',
          onSelect: function(dateText, inst) {
              var dateAsObject = $(this).calendarsPicker('getDate');
              // var jd = dateAsObject[0].toJD();
              // var date_gc = $.calendars.fromJD(jd);
              $(this).val(dateAsObject[0].formatDate('DD, MM d, yyyy'));
          }
      });

      $('.ethiopian_datepicker').calendarsPicker({
          calendar: $.calendars.instance('ethiopian', 'am'),
          format: 'DD, MM d, yyyy',
          onSelect: function(dateText, inst) {
              var dateAsObject = $(this).calendarsPicker('getDate');
              var jd = dateAsObject[0].toJD();
              var date_gc = $.calendars.instance('ethiopian').fromJD(jd);
              $(this).val(date_gc.formatDate('DD, MM d, yyyy'));
          }
      });

      $(".amharic_input").amharicKeyboard();

      $('.multiple_select').select2();

      $('#image_upload_id').on('change', function() {
        showImage(this);
      });
  });

  function showImage(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#your_preview_id')
          .attr('src', e.target.result)
          .width(150);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>