<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Name am:</strong>
  <%= @member.name_am %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @member.father_name %>
</p>

<p>
  <strong>Father name am:</strong>
  <%= @member.father_name_am %>
</p>

<p>
  <strong>Grand father name:</strong>
  <%= @member.grand_father_name %>
</p>

<p>
  <strong>Grand father name am:</strong>
  <%= @member.grand_father_name_am %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @member.gender %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @member.dob %>
</p>

<p>
  <strong>Educational level:</strong>
  <%= @member.educational_level %>
</p>

<p>
  <strong>Work:</strong>
  <%= @member.work %>
</p>

<p>
  <strong>Christian name:</strong>
  <%= @member.christian_name %>
</p>

<p>
  <strong>Christian name am:</strong>
  <%= @member.christian_name_am %>
</p>

<p>
  <strong>Membership date:</strong>
  <%= @member.membership_date %>
</p>

<p>
  <strong>Talent:</strong>
  <%= @member.talent %>
</p>

<p>
  <strong>Home address:</strong>
  <%= @member.home_address_id %>
</p>

<p>
  <strong>Work address:</strong>
  <%= @member.work_address_id %>
</p>

<p>
  <strong>Emergency contact:</strong>
  <%= @member.emergency_contact_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @member.status %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @member.created_by %>
</p>

<p>
  <strong>Modified by:</strong>
  <%= @member.modified_by %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @member.deleted_at %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
